<div>
    <h2>
        CAPTURA DE PEDIDO
    </h2>
</div>
<p>
    Seleccione un producto:

    <select name="miselect2" [(ngModel)]="seleccionado">
        <option [ngValue]="item" *ngFor="let item of productos">{{item.nombre}}</option>
    </select>

    <br>Introduzca la cantidad: <input name="name" type="number" [(ngModel)]="amout" />
</p>
<table id="orders2">
    <tr>
        <td>SKU: {{seleccionado?.sku}}</td>
        <td>Precio unitario: {{seleccionado?.price ? '$' + seleccionado?.price : ''}}</td>
        <td>Total: {{seleccionado && amout ? '$' + (seleccionado?.price * amout) : ''}}</td>
        <td><button (click)="agregarDetallePedido()">Agregar Producto</button></td>
    </tr>
</table>

<br><br>

<table id="orders">
    <tr>
        <th *ngFor="let column of headers">
            {{column}}
        </th>
    </tr>
    <tr *ngFor="let prod of productosPedido">
        <td>{{prod.sku}}</td>
        <td>{{prod.producto}}</td>
        <td>{{prod.cantidad}}</td>
        <td>{{prod.precioUnitario}}</td>
        <td>{{prod.total}}</td>
        <td><button class="botonRojo" (click)="quitarProductoDelPedido(prod)">Quitar</button></td>
    </tr>
</table>

<br>
<h2>GRAN TOTAL: {{granTotal ? '$' + granTotal : ''}}</h2>


<br><button (click)="agregarPedido()">Guardar Pedido</button>

<p style="color: green;">
    {{pedidoCreado ? 'Pedido creado correctamente, ya puede capturar un nuevo pedido.' : ''}}
</p>