<div style="text-align:center">
  <ul>
    <li><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>  </li>
    <li><a class="nav-link" routerLink="order" routerLinkActive="active" *ngIf="authService.logIn">Order</a>  </li>
    <li style="float:right" > <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!authService.logIn">Login</a> </li>
    <li style="float:right" > <a class ="nav-link" (click)="logout()" href="#" *ngIf="authService.logIn">Logout</a>  </li>
  </ul>
  <router-outlet></router-outlet>